<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="corporate">

<head th:replace="layout :: head">
    <!-- <title th:text="${titulo}">Dashboard</title> -->
</head>

<body>

    <div class="drawer">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            <!-- Navbar -->
            <div class="navbar bg-base-300 w-full">
                <div class="flex-none ">
                    <!-- se puede hacer lg:hidden aqui para que el boton solo aparezca en pantallas pequeñas -->
                    <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="inline-block h-6 w-6 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </label>
                </div>
                <div class="mx-2 flex-1 px-2">Dashboard</div>
                <div class="hidden flex-none lg:block">
                    <ul class="menu menu-horizontal">
                        <!-- Navbar menu content here -->
                        <li><a>Navbar Item 1</a></li>
                        <li><a>Navbar Item 2</a></li>
                    </ul>
                </div>
            </div>
            <!-- Page content here -->
            Content
        </div>
        <div class="drawer-side">
            <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-base-200 min-h-full w-60 sm:w-80 p-2 flex justify-between">
                <!-- Sidebar content here -->

                <div class="brand">
                    <h1 class="text-3xl font-bold">SIC</h1>
                    <p class="text-sm">Sistema de Información Contable</p>
                </div>
                <div class="border-2 border-solid border black">
                    <ul class="menu bg-base-200 w-full">
                        <li><a class="menu-active">Dashboard</a></li>
                        
                        <!-- ADMIN routes -->
                        <div th:if="${usuario.role == 'ADMIN'}">
                            <li><a href="/admin/explorador-partidas">Explorador de Partidas</a></li>
                            <li><a href="/admin/libro-diario">Libro diario</a></li>
                            <li><a href="/admin/libro-mayor">Libro mayor</a></li>
                            <li><a href="/admin/usuarios">Gestión de Usuarios</a></li>
                            <li><a href="/admin/bitacora">Bitácora</a></li>
                            <li><a href="/admin/ver-pdfs">Ver PDFs</a></li>
                            <li><a href="/admin/configuracion">Configuración</a></li>
                        </div>
                        
                        <!-- AUDITOR routes -->
                        <div th:if="${usuario.role == 'AUDITOR'}">
                            <li><a href="/auditor/explorador-partidas">Explorador de Partidas</a></li>
                            <li><a href="/auditor/libro-diario">Libro diario</a></li>
                            <li><a href="/auditor/libro-mayor">Libro mayor</a></li>
                            <li><a href="/auditor/bitacora">Bitácora</a></li>
                            <li><a href="/auditor/ver-pdfs">Ver PDFs</a></li>
                            <li><a href="/auditor/configuracion">Configuración</a></li>
                        </div>
                        
                        <!-- CONTADOR routes -->
                        <div th:if="${usuario.role == 'CONTADOR'}">
                            <li><a>Registrar partida</a></li>
                            <li><a>Libro diario</a></li>
                            <li><a>Libro mayor</a></li>
                            <li><a>Balances</a></li>
                        </div>
                        
                        <li><a>Subir Documento</a></li>
                        <li th:unless="${usuario.role == 'ADMIN'}"><a>PRUEBA</a></li>
                        <!-- Si el usuario.role **es igual a 'ADMIN' → la condición es verdadera → th:unless lo niega → el <li> NO se mostrará. -->
                    </ul>

                </div>

                <div class="">
                    <div class="divider"></div>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-outline btn-error w-full">Cerrar sesión</button>
                    </form>
                </div>

            </ul>
        </div>
    </div>

</body>

</html>