

<!DOCTYPE html>
<html lang="en" data-theme="corporate">

<head th:insert="layout :: head">

</head>

<body>
    <div class="drawer">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            <!-- Navbar -->
            <div th:replace="~{layout :: navbar}">
                
            </div>
            
            <!-- Page content here -->
            <div class="w-full p-4 sm:p-6 lg:p-10 bg-base-100">
                
                <!-- Header Section -->
                <div class="mb-6">
                    <h1 class="text-3xl font-bold text-center mb-6 mes-actual">Libro Mayor</h1>
                    
                    <!-- Filtros -->
                    <div class="flex flex-col sm:flex-row gap-4 items-center justify-center bg-base-200 p-4 rounded-lg shadow-md">

                        <div class="form-control w-full sm:w-auto">
                            <label class="label">
                                <span class="label-text font-semibold">Período Contable:</span>
                            </label>
                            <select id="selectPeriodo" class="select select-bordered w-full sm:w-64">
                                <option value="">Seleccionar periodo...</option>
                                <!-- traer periodos de db -->
                            </select>
                        </div>

                        <div class="form-control w-full sm:w-auto self-start">
                            <button class="btn btn-primary w-full sm:w-auto" id="filtrar">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
                                </svg>
                                Filtrar
                            </button>
                        </div>
                    </div>
                </div>

                <div class="p-4 m-4" id="libroMayor" ></div>

            </div>  
        </div>
        
        <div th:replace="layout :: sidebar('libro-mayor')"></div>
    </div>

    <script th:src="@{/js/libro-mayor.js}"></script>
</body>

</html>