<!DOCTYPE html>
<html lang="es" xhtml:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${titulo}">Titulo</title>
  <link rel="stylesheet" th:href="@{/css/output.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>


<body data-theme="corporate">


  <main class="">

    <!-- contenedor principal, EL GRID DE ESTE CONTENEDOR DEBE OCUPAR 3 COLS COMO MAXIMO PERO SE ajusta de manera que en moviles ocupo 1 col y el solo se muestra el login el contenedor de la imagen desaparece ppara moviles-->
    <div class="contenedor-principal grid md:grid-cols-3 h-dvh">
      <!-- contenedor del login ocupa 2 de 3 cols-->
      <div class="contenedor-login-form col-span-2 border-solid border-2 border-red-600">

        <!-- contenedor del formulario de login -->
        <div class="formulario-contenedor flex flex-col justify-center items-center h-full gap-4 p-4">


          <div class="avatar">
            <div class="w-24 rounded-full">
              <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
            </div>
          </div>
          <h1 class="font-bold">Bienvenido!</h1>

          <form th:action="@{/login}" method="post" class="flex flex-col justify-center items-center gap-4 p-4">

            <!-- LABEL PARA NOMBRE DE USUARIO -->
            <label class="input validator">
              <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                  <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </g>
              </svg>
              <input type="text" name="username" required placeholder="Nombre de usuario" minlength="3"
              maxlength="30" title="Solo letras, números o guión" />
              <!-- pattern="[A-Za-z][A-Za-z0-9\-]*" esto iba dentro del input -->
            </label>
            <!-- <p class="validator-hint p-4 m-3 hidden">
              Debe tener de 3 a 30 caracteres
              <br />conteniendo solo letras, números o guión
            </p> -->


            <!-- LABEL PARA CONTRASEÑA -->
            <label class="input validator">
              <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                  <path
                    d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
                  </path>
                  <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                </g>
              </svg>
              <input type="password" name="password" required placeholder="Clave" minlength="8"
                
                title="Debe tener más de 8 caracteres, incluyendo número, letra minúscula y mayúscula" />
                <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" esto iba dentro del input -->
            </label>
            <!-- <p class="validator-hint hidden">
              Debe tener más de 8 caracteres, incluyendo
              <br />Al menos un número <br />Al menos una letra minúscula <br />Al menos una letra mayúscula
            </p> -->

            <input type="submit" class="btn btn-dash" value="Acceder" />


          </form>

        </div>


      </div>



      <div class="contenedor-img hidden md:block bg-black">

      </div>

    </div>





  </main>
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</body>

</html>