<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="corporate">
  <head th:replace="~{layout :: head}"> </head>

  <body>
    <div class="drawer">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <div th:replace="~{layout :: navbar}"></div>

        <!-- Page content here -->
        <div class="w-full p-4 sm:p-6 lg:p-10 bg-base-100 mt-6">
          <h1 class="text-3xl font-bold mb-6">Balance General</h1>

          <!-- Filtros -->
          <div class="p-4 bg-base-200 rounded-lg mb-6">
            <form class="flex flex-col gap-3 md:flex-row md:items-end md:gap-4">
              
              <label class="form-control max-w-xs"
                > <span class="fieldset-legend">Tipo:</span>
                <select id="selectTipo" class="select">
                  <option value="general">Balance General</option>
                  <option value="estado">Estado de Resultados</option>
                  <option value="comprobacion">Balance de Comprobación</option>
                  <option value="flujos">Flujos de Efectivo</option>
                  <option value="patrimonio">Cambios en el Patrimonio Neto</option>
                  </select
                > </label
              >
              <label class="form-control max-w-xs"><span class="fieldset-legend">Periodo:</span>
                <select id="selectPeriodo" class="select" required>
                  
                  <option value="">Seleccione un periodo</option>
                  </select> </label>
              <button id="btnCalcular" type="button" class="btn btn-primary"> Calcular</button>
            </form>
          </div>

          <!-- Contenido del balance -->
          <div id="balanceContainer" class="space-y-6"></div>
        </div>
      </div>

      <div th:replace="~{layout :: sidebar('balances')}"></div>
    </div>

    <script th:src="@{/js/balances.js}"></script>
  </body>
</html>


